venv/
__pycache__/
.env
*.pyc

# =========================
# Runtime / Vector DB
# =========================
chroma_db/
*.sqlite3

# =========================
# Python cache
# =========================
__pycache__/
*.pyc

# =========================
# logs
# =========================
data/error.log
log.json

# =========================
# system files
# =========================
.DS_Store